html, body
{
	margin: 0;
	padding: 0;
	background: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#peeker
{
	position: absolute;
	top: 100%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}

.peekerAnimation
{
	animation-duration: 3s;
	animation-name: peek;
}

@keyframes peek {
	from, to {
		margin-top: 0px;
	}
	
	50%, 60% {
		margin-top: -100px;
	}
}